<ion-view view-title="Sign in">
  <ion-content>
  <div class="padding" ng-controller="SigninCtrl">
    <br></br><br></br><br></br><br></br><br></br><br></br><br></br>
    <button class="button button-block button-positive" ng-click="goToFbLogin()">
       Sign In with Facebook
    </button>
    <button class="button button-block button-assertive" ng-click="goToGLogin()">
      Sign In with Google+
    </button>
    <p class="text-center">
      <a href="#/forgot-password">Forgot password</a>
    </p>
  </div>
</ion-content>
</ion-view>
